
//
// VARIABLES
//

@import 'util';

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$font-base: 'Spoqa Han Sans', 'Source Sans Pro', 'Nanum Barun Gothic', 'Nanum Gothic', 'Verdana', 'Arial', 'Dotum', sans-serif;
$font-code: 'Menlo', 'Courier New', 'Monaco', 'Spoqa Han Sans', monospace;
$font-header: $helveticaNeue;

$font-size-base: px-to-em(18px);
$font-size-small: px-to-em(12px);

$line-height-base: px-to-em(26.7px);

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
